@keyframes grow_width {
    from {width: 25px; opacity: 0;}
    to {width: 425px; opacity: 1;}
}

#logo {
    color: #dc322f;
    animation: grow_width 5s normal;
}
  
body {
    font-family: 'Poppins', serif;
    background-color: #f1f1f1;
    background-image: url("../images/concrete_seamless.png");
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.nav_links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a:visited {
    color: blue;
}

.card > header {
    background-color: #288088;
    border: solid 2px #45ADAD;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.card {
    border-radius: 50px 50px 0px 0px;
    flex-basis: 450px;
    flex-flow: row wrap;
}

.pricing {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
}

.gallery img {
    border: 10px solid #50C7C7;
    margin: 10px;
    width: 300px;
}

.gallery {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

@media only screen and (min-width: 901px) {
    header {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .nav_links {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }

    .card {
        flex-basis: 275px;
        flex-flow: row wrap;
    }

    body > header {
        position: sticky;
        top: 0;
    }
}

@media (prefers-reduced-motion: reduce) {
    #logo {
        animation: none;
    }
}

@media print {
    body {
        font-family: Arial, Helvetica;
        background-image: none;
    }

    nav {
        width: 100%;
    }
    
    .nav_links {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
    }

    .pricing {
        display: flex;
        flex-flow: row nowrap;
        align-items: flex-end;
    }

    .card {
        border: solid 2px #45ADDD;
        flex-basis: 325px;
    }

    .gallery {
        visibility: hidden;
        display: none;
    }

    #gallery {
        visibility: hidden;
    }

    .card li:nth-child(2)::after {
        content: "\1F44D";
    }

}